* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: rgb(235, 193, 199);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 90%;
    height: 250px;
    margin: auto;
    /* background-color: yellow; */
}

.main-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
}

.main-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about {
    text-align: center;
    margin: 60px;
}

.about h2 {
    color: rgb(188, 55, 78);
    margin-bottom: 20px;
}

.aside1 {
    width: 40%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    margin: 20px;
}

.aside1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.mission {
    width: 30%;
    height: 300px;
    border-radius: 20px;
    float: left;
    margin: 20px;
}

.mission h2 {
    color: rgb(188, 55, 78);
    margin-bottom: 20px;
    margin-top: 20px;
}

.promise {
    width: 30%;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 70px;
    clear: both;
    float: right;
    margin-right: 150px;
}

.promise h2 {
    color: rgb(188, 55, 78);
    margin-bottom: 20px;
}

.aside2 {
    width: 40%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}

.aside2>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.contact {
    clear: both;
    width: 100%;
    height: 350px;
    background-image: url(images/back\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h1 {
    color: #333;
    position: relative;
    top: 100px;
    left: 506px;
}

.contact>button {
    width: 15%;
    height: 50px;
    position: relative;
    top: 137px;
    left: 626px;
    border: none;
    border-radius: 20px;
    background-color : rgb(188, 55, 78); 
    color: #f4f4f4;
    font-weight: bolder;
    transition: 0.3s ease;
}
.contact button:hover {
    background-color: rgb(160, 40, 60);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(188, 55, 78, 0.5);
}
.main-img img,
.aside1 img,
.aside2 img {
    transition: transform 0.4s ease;
}

.main-img img:hover,
.aside1 img:hover,
.aside2 img:hover {
    transform: scale(1.05);
}


