*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
     background-color: rgb(235, 193, 199);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
    }
.text{
    width: 40%;
    height: 500px;
    padding: 20px;
    /* background-color: aquamarine; */
   
}
.text h1{
   color: rgb(188, 55, 78);
   margin-bottom: 20px;
}
.form{
    width: 50%;
    height: 500px;
    /* background-color: blue; */
    padding: 20px;
}
input{
    display: block;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
#message{
    height: 150px;
}
#submit{
    width: 180px;
    height: 55px;
    border: none;
    background-color: rgb(50, 171, 50);
    color: #f4f4f4;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
p{
    margin: 20px 0px;
}

