*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
     background-color: rgb(235, 193, 199);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
    }
.text{
    width: 35%;
    height: 200px;
    padding: 20px;
    background-color: aquamarine;
   
}
.text h1{
   color: rgb(188, 55, 78);
   margin-bottom: 20px;
}
.form{
    width: 50%;
    height: 350px;
    background-color: blue;
}
input{
    display: block;
}

